
.idea/
.vscode/
*.sublime-workspace
*.sublime-project


/target/
/build/
/dist/
*.jar
*.war
*.ear


/node_modules/


.env
.env.local
.env.development
.env.production

*.log

.DS_Store
Thumbs.db


/docker-compose.override.yml

/mysql-data/